<h2>All User Cart Items</h2>

<table border="1">
<tr>
<th>Cart ID</th>
<th>User Name</th>
<th>User ID</th>
<th>Product</th>
<th>Product ID</th>
<th>Quantity</th>
</tr>

<tr th:each="item : ${cartItems}">

<td th:text="${item.id}"></td>
<td th:text="${userMap[item.userId]?.username}"></td>
<td th:text="${item.userId}"></td>
<td th:text="${item.product.productName}"></td>
<td th:text="${item.product.id}"></td>
<td th:text="${item.quantity}"></td>
</tr>
</table>

<br>
<a href="/admin/dashboard">⬅ Back</a>